/*** Overall Styles       ****************************************/

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html, body {
  font-size: 18px;
  height: 100%;
  font-family: "Lato";
  color: #3498db;
  width: 100%;
}

.container-fluid {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 130px;
}

h2 {
  font-size: 30px;
}

/*** Superhero            ****************************************/

.superhero {
  background: none 50% 50% no-repeat scroll transparent;
  background-image: url("../images/road3.jpg");
  height: 100%;
  background-size: cover;
  text-align: center;
  position: relative;
  width: 100%;
}

.superhero:after {
  content: "\f078";
  font-family: "FontAwesome";
  color: white;
  font-size: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.sidekick {
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
  font-family: "Oswald";
  color: #fafafa;
}

.sidekick div {
  font-size: 25px;
}

/*** Content Sections     ****************************************/

.content-section {
  padding: 75px 0;
}

.section-heading {
  padding: 10px 0 30px;
  text-align: center;
  font-family: "Oswald";
}

.section-heading h2 {
  font-size: 40px;
}
/*** Intro Section        ****************************************/

.intro {
  background-color: #3498db;
  color: white;
  font-size: 22px;
}

/*** Landmarks            ****************************************/

.landmark-wrapper {
  width: 100%;
  padding: 0 75px;
}

.landmark {
  padding: 30px;
  position: relative;
  border-radius: 25px;
  background-color: #1abc9c;
  color: white;
}

.landmark-body p {
  margin-bottom: 25px;
}

.landmark-body p:last-child {
  margin-bottom: 0;
}

.landmark-left:after {
  content: "";
  position: absolute;
  right: -50px;
  top: 50%;
  margin-top: -30px;
  border-width: 30px 0 30px 50px;
  border-color: transparent #1abc9c;
  border-style: solid;
  display: block;
}

.landmark-right:after {
  content: "";
  position: absolute;
  left: -50px;
  top: 50%;
  margin-top: -30px;
  border-width: 30px 50px 30px 0;
  border-color: transparent #1abc9c;
  border-style: solid;
  display: block;
}

.landmark-heading {
  text-align: center;
  margin-bottom: 15px;
  font-size: 25px;
  font-family: "Oswald";
}

.landmark-heading:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 80%;
  max-width: 240px;
  padding-top: 15px;
  border-bottom: 1px solid white;
}

/*** Highlights           ****************************************/

.highlights {
  background-color: #34495e;
  color: white;
}

.highlight {
  padding: 20px 5px 0;
}

.highlights-section-heading h2 {
  margin-top: 0;
}

.highlight-header {
  text-align: center;
  font-family: "Oswald";
}

.highlight-header .fa {
  font-size: 80px;
  color: #1abc9c;  
}

.highlight-header h3 {
  font-size: 22px;
}

.highlight-body {
  font-size: 15px;
}

/*** Outro                ****************************************/

.outro {
  background-color: #3498db;
  color: white;
  font-size: 22px;
}

/*** Recommendations      ****************************************/

.recommendations {}

.recommend {
  border-radius: 10px;
  background-color: #ecf0f1;
  padding: 20px;
  margin-bottom: 30px;
  color: #34495e;
}

.recommend:before {
  font-size: 32px;
  font-family: "FontAwesome";
  content: "\f10d";
  float: left;
}

.recommend-body {
  margin-left: 50px;
}

.recommend-source {
  clear: both;
  background-color: transparent;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  font-size: 15px;
}

.source-name {
  font-size: 18px;
  color: #3498db;
}

.source-title {
  color: #34495e;
}

/*** Road BG Magic        ****************************************/

.road-corner {
  width: 75px;
  height: 100px;
  background: none 0 0 no-repeat scroll white;
}

.road-tl {
  background-image: url("../images/road-tl.png");
  background-position: -1px 24px;
  float: left;
}

.road-tr {
  background-image: url("../images/road-tr.png");
  background-position: 0 24px;
  float: right;
}

.road-bl {
  background-image: url("../images/road-bl.png");
  background-position: -1px 0;
  float: left;
}

.road-br {
  background-image: url("../images/road-br.png");
  background-position: 0 0;
  float: right;
}

.road-h {
  background: url("../images/road-h.png") 0 25px repeat-x scroll transparent;
  height: 75px;
  width: 100%;
  padding: 0 75px;
}

.road-v-right {
  background: url("../images/road-v.png") 100% 0 repeat-y scroll transparent;
}

.road-v-left {
  background: url("../images/road-v.png") 0 0 repeat-y scroll transparent;
}

/*** Mobile tweaks        ****************************************/

@media (max-width: 768px) { 
  .landmark-wrapper {
    padding: 0;
  }
  
  .road-v-right,
  .road-v-left {
    background-image: none;
  }

  .landmark-left:after,
  .landmark-right:after {
    right: 50%;
    left: auto;
    top: 100%;
    margin-top: 0;
    margin-right: -30px;
    border-width: 50px 30px 0 30px;
    border-color: #1abc9c transparent;
    z-index: 1;
  }

  .highlight {
    margin: 30px 15px;
  }
}

/*** Animation            ****************************************/

@-webkit-keyframes scrollCue {
  0% {
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0);
    visibility: visible;
  }

  20% {
    -webkit-transform: translate3d(0, -15%, 0);
    transform: translate3d(0, -15%, 0);
    visibility: visible;
  }

  40% {
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes scrollCue {
  0% {
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0);
    visibility: visible;
  }

  20% {
    -webkit-transform: translate3d(0, -15%, 0);
    transform: translate3d(0, -15%, 0);
    visibility: visible;
  }

  40% {
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes sidekick {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
    visibility: visible;
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes sidekick {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
    visibility: visible;
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.sidekick {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: sidekick;
  animation-name: sidekick;
}

.superhero:after {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: scrollCue;
  animation-name: scrollCue;
}
