* {
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  height: 100%;
}

.container-fluid {
  max-width: 1200px;
  margin: 0 auto;
}

.superhero {
  background: none 50% 50% no-repeat scroll transparent;
  background-image: linear-gradient(rgba(100, 100, 100, 0), rgba(100, 100, 100, 0)),
     url("../images/road3.jpg");
  height: 100%;
  background-size: cover;
  text-align: center;
  position: relative;
}

.sidekick {
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
  color: #fafafa;
}

h1 {
  font-size: 90px;
}

h2 {
  font-size: 30px;
}

.sidekick div {
  font-size: 25px;
}

.content-section {
  padding: 50px 0;
}

.section-heading {
  padding: 10px 0 30px;
  text-align: center;
}

.intro {
}

.intro-section-heading h2 {

}

.highlights {
  background-color: #777;
}

.highlight {
  padding: 20px;
  background-color: #f1f1f1;
}

.highlight-header {
  text-align: center;
}

.highlight-header .fa {
  font-size: 80px;
  color: #aaa;  
}

.highlight-header h3 {
  font-size: 22px;
}

.highlight-body {
  font-size: 15px;
}

.road-wrapper {

}

.road-section-heading {
  margin-top: -50px;
  background-color: white;
  padding: 60px 0 0;
}

.road-section-heading h2 {
  font-size: 50px;
}

.road-start-icon {
  font-size: 65px;
}

.landmark {
  border: 15px solid #aaa;
  padding: 30px;
  position: relative;
  width: 100%;
}

.landmark-left, .landmark-right {
  border-radius: 25px;
}

.landmark-left {
  padding-right: 100px;
  float: left;
}

.landmark-left:after {
  content: "";
  position: absolute;
  right: -50px;
  top: 50%;
  margin-top: -30px;
  border-width: 30px 0 30px 50px;
  border-color: transparent #aaa;
  border-style: solid;
  display: block;
}

.landmark-right {
  margin-left: 100px;
}

.landmark-right:after {
  content: "";
  position: absolute;
  left: -50px;
  top: 50%;
  margin-top: -30px;
  border-width: 30px 50px 30px 0;
  border-color: transparent #aaa;
  border-style: solid;
  display: block;
}

.landmark-heading {
  text-align: center;
  margin-bottom: 15px;
  font-size: 20px;
}

.road-section-ending {
  margin-bottom: -50px;
  background-color: white;
  padding: 0 0 60px 0;
}

.road-section-ending h2 {
  font-size: 50px;
}

.recommendations {

}

.recommendations h2 {
  color: black;
}

.recommend {
  border-radius: 10px;
  background-color: rgba(200, 200, 200, 0.9);
  padding: 20px;
  margin-bottom: 30px;
}

.recommend:before {
  font-size: 32px;
  color: #333;
  font-family: "FontAwesome";
  content: "\f10d";
  float: left;
}

.recommend:after {

}

.recommend-body {
  margin-left: 50px;
}

.recommend-source {
  clear: both;
  background-color: transparent;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  font-size: 15px;
}

footer {
  background-color: white;
  margin-top: 40px;
}




/* Road Magic */

.road-corner {
  width: 75px;
  height: 114px;
  background: none 0 0 no-repeat scroll white;
}

.road-tl {
  background-image: url("../images/road-tl.png");
}

.road-tr {
  background-image: url("../images/road-tr.png");
  float: right;
  background-position: 0 24px;
}

.road-bl {
  background-image: url("../images/road-bl.png");
  float: left;
}

.road-br {
  background-image: url("../images/road-br.png");
}

.road-h {
  background: url("../images/road-h.png") 0 25px repeat-x scroll transparent;
  height: 75px;
  width: 100%;
  padding: 0 75px;
}

.road-v {
  background: url("../images/road-v.png") 25px 0 repeat-y scroll transparent;
  height: 300px;
  width: 75px;
}